VITE_SUPABASE_URL=https://vshxiwkhepbebgwfkzob.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_EpqyGucwCyIu6LF66V0wPA_Tj8a0eji
VITE_SUPABASE_STORAGE_BUCKET=garage-originals
VITE_APP_TIMEZONE=Asia/Hong_Kong
